body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #cbcbcb;
    /* background-color:  #00ffff; */
   
        width: 100%;
        /* background-color: #0082bb; */
        display: block;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
        position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
        top: 0; /*Nằm trên cùng*/
        left: 0; /*Nằm sát bên trái*/
        z-index: 100000; /*Hiển thị lớp trên cùng*/
    
  }
  
  .topnav a {
    background-color: #cbcbcb;
    /* background-color:#00ffff; */
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover, #csmota:hover,
      #cst:hover,
      #csmt:hover, #addd:hover,
      #timkiem1:hover,
      #hienthi:hover,
      #reset1:hover,
      #delete1:hover{
    background-color: rgb(204, 150, 255);
    color: rgb(255, 0, 0);
  }
  .topnav-right {
    float: right;
  }
  
      html {
        background-color: #fff;
        /* background-color: #b7f5f5; */
        background-size: cover;
      }
      div {
        text-align: center;
      }
      h2 {
        text-align: center;
        color: rgb(9, 9, 9);
      }
      #newProduct,
      #motasp,
      #timkiem , #img , #Gia{
        background-color: rgba(255, 255, 255, 0);
        color: red;
        border-radius: 7px/7px;
        
     
      }
      #addd,
      #timkiem1,
      #hienthi,
      #reset1,
      #delete1 {
        background-color:  rgb(32, 1, 1);
        border-radius: 7px/6px;
        color: #ffff;
      } 
      #prd {
        background-color: #f2f3f5;
        /* background-color: #fff; */
        /* background-color: #00ffff; */
        border-radius: 10px/10px;
      }
      #csmota,
      #cst,
      #csmt{
        background-color:  rgb(32, 1, 1);
        border-radius: 7px/7px;
        color: #ffff;
      }
      /* span, .top1 a {
        background-color:#00ffff;
      } */
      #bangg {
        text-align: center;
        /* background-color: #b7f5f5; */
        /* background-color: rgb(32, 1, 1); */
        border-radius: 10px/10px;
        color: #000000;
      }
      #edit,
      #dele {
        text-align: center;

        border-radius: 10px/10px;
      }
      table,
      #td1 {
        text-align: center;

        /* background-color:#b7f5f5; */
        /* border: solid 0px rgb(245, 23, 7); */
        /* border-radius: 10px/10px; */
      }
      #texta {
        background-color: #f2f3f5;
        /* background-color: #fff; */
        /* background-color: #00ffff; */
        border-radius: 10px/10px;
      }
      #timk1{
        /* background-color: #b7f5f5; */
        display: block;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
        position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
        top: 49px; /*Nằm trên cùng*/
        left: 0; /*Nằm sát bên trái*/
        z-index: 100000; /*Hiển thị lớp trên cùng*/
      }
      #motasp{
        display: block;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
        position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
        top: 77px; /*Nằm trên cùng*/
        left: 0; /*Nằm sát bên trái*/
        z-index: 100000; /*Hiển thị lớp trên cùng*/
      }
      h1 , p , b{
        color: #ff0000;
      }
      #motasp {
        background-color: rgba(255, 255, 255, 0);
      }